.card-page{
    margin-top: 80px;
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
.loading, .error, .not-av{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    h1{
        color: black;
    }
}
@media (max-width: 1440px) {
    .card-page{
        justify-content: space-around;
    }
}
@media (max-width: 1200px) {
    .card-page{
        padding: 20px 20px;
    }
}