.card{
    height: auto;
    width: 400px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    .source{
        margin-top: 20px;
        font-weight: 500;

        a{
            text-decoration: underline;
            color: #000;
        }
        a:hover{
            color: rgb(190, 65, 65);
        }
    }
}

.card:hover {
    transform: translateY(-5px); 
  }
img{
    width: 100%;
    max-height: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.text{
    margin-top: 10px;
    margin-left: 5px;
    p{
        margin-top: 5px;
    }
    
}
